.head-display
{background-color: paleturquoise;
    width: 100%;
    height: 100%;
}

.card-display
{
    
    border-radius: 20px;
    margin: 20%;
    
}

.button
{
    display: flex;
    justify-content: space-between;
}

.card-display #loginBtn
{
    margin-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

.card-display #registerBtn
{
    margin-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

.login-card
{
        box-shadow: none;
}