<mat-card class="card-display">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form>
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Username" [(ngModel)] = 'user.username' name="username">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" [(ngModel)] = 'user.password' name ='password'>
        </mat-form-field>
      </p>

      <div class="button">
        <button (click)="login()" type="submit" mat-button>Login</button>
      </div>

      <div class="button">
        <button (click)="addAccess('register')" mat-button>Register</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>