<mat-table [dataSource]="question">
    <ng-container matColumnDef="questionId">
      <mat-header-cell *matHeaderCellDef="questionId">No.</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.questionId}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="questionString">
      <mat-header-cell *matHeaderCellDef="questionString">Question</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.questionString}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="correctAnswer">
      <mat-header-cell *matHeaderCellDef="correctAnswer">Answer</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.correctAnswer}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click) = "openDialog(row.questionId)"></mat-row>
 
</mat-table>