<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="over" [(opened)]="opened" (opened)="events.push('open!')"
        (closed)="events.push('close!')">
        Sidenav content
    </mat-sidenav>

    <mat-toolbar>
        <button (click)="sidenav.toggle()" mat-icon-button class="example-icon"
            aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Admin</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>lock_open</mat-icon>
        </button>
    </mat-toolbar>
</mat-sidenav-container>